@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #77BA99;
    text-align: center;
}

.calculator {
    display:flex;
    justify-content: center;
}

.content {
    margin-top: 20px;
    background-color: #D7C0D0;
    border: 2px solid black;
    border-radius: 20px;
    height: 40vw;
    width: 30vw;
}
#inputBox {
    margin-top: 20px;
    background: transparent;
    height: 5vw;
    width: 96%;
    border-radius: 10px;
    border: none;
    font-size: 40px;
    cursor: pointer;
    text-align: end;
    padding-right: 2px;
}
.boxes{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}
.box {
    height: 5vw;
    width: 5vw;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    border: none;
    font-size: 1.5em;
    font-family: 'Kanit', sans-serif;
    background-color: #EFF0D1;
}
.operators {
    color: green;
}
.box:hover {
    font-weight: 600;
    box-shadow: 2px 2px 2px rgb(162, 0, 255);
}
.equal {
    font-size: 2.5em;
    background-color: orangered;
}